/*Apply this to the whole page*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./images/grizzlygulch.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

/*Header Section*/
header {
  display: flex-end;
  flex-wrap: wrap;
}

header h1 {
  font-size: 40px;
  margin: 10px;
 
  text-align: right;
  color: #3cb371;
  text-shadow: white;
  font-family: Impact, fantasy;
  font-stretch: ultra-expanded;
}

header h1 p {
  font-size: 25px;
  margin: 0;
  text-align: right;
  color: aliceblue;
  font-weight: bold;
}

/*Footer*/
footer {
  background: white;
  padding: 100px 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.email {
  padding: 75px;
  display: flex;
  text-align: center;
  font-size: 50px;
}

.hub {
  display: flex;
  padding-top: 30px;
  padding-right: 70px;
  width: 250px;
  height: 130px;
}

.in {
  display: flex;
  padding-top: 15px;
  padding-right: 40px;
  width: 300px;
  height: 180px;
}

/*End footer*/



/*Nav Sectioin*/
header nav {
  text-align: end;
  margin: 10px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: flex-end;
}

header nav ul li a {
  text-align: end;
  font-family: impact fantasy;
  font-size: 20px;
}

header nav ul li a:hover {
  background: #3cb371;
  color: #0070ff ;
  border-radius: 15px;
  text-shadow: none;
}




/*Intro Box Section*/
.intro {
  font-size: 26px;
  text-align: center;
  border: 100px;
  padding: 120px;
  margin: auto;
  height: 100px;
  box-sizing: content-box;
  text-align: center;
  
  font-family: Impact, fantasy;
  color: #3cb371; 
}

.intro p span {
  color: #0070ff ;
  font-family:inherit;
}

.photo {
  text-align: center;
}

.layla {
  height: 400px;
  width: 400px;
}

/*my-story section*/

.story {
  border: 75px;
  padding: 200px;
  margin: auto;
  height: 120px;
  box-sizing: content-box;
  text-align: center;
  font-size: 26px;
  font-family: impact fantasy;
  color: #3cb371 ;
  justify-content: space-between;
}

.story p {
  color: #3cb371;
  font-family: impact fantasy;
  font-weight: bold;
  font-stretch: ultra-expanded;
}

.story p span {
  color: #0070ff;
}


/*End my-story Section*/


/*My Work Section*/

.resize {
  
  height: 400px;
  width: 500px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-content: space-around;
  
}

.work {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 25px auto;
  justify-content: center;
}

.hustle {
  margin: 0 20px 20px;
  flex: 1;
}


.run-bud {
  text-align: center;
  font-size: 30px;
  font-family: impact fantasy;
}

.run-bud:hover {
  background: #3cb371;
  color: #0070ff ;
  border-radius: 15px;
  text-shadow: none;
}

.code {
  text-align: center;
  font-size: 30px;
  font-family: impact fantasy;
}

.code:hover {
  background: #3cb371;
  color: #0070ff ;
  border-radius: 15px;
  text-shadow: none;
}

.resume1 {
  text-align: center;
  font-size: 30px;
  font-family: impact fantasy;
}

.resume1:hover {
  background: #3cb371;
  color: #0070ff ;
  border-radius: 15px;
  text-shadow: none;
}





/* iPhone 5 */
@media screen and (min-width: 320px ){

}

/* Google Pixel & HTC  */
@media screen and (min-width: 360px){

}


/* iPhone 6, 7, 8 */
@media screen and (min-width: 375px ){

}
  


/* iPhone 6+,7+,8+ */
@media screen and (min-width: 414px){

}


 /* iPhone X */
@media screen and (min-width: 375px){

}

/* 
 
/* Windows phone */
@media screen and (min-width: 414px){

}


/*iPad and tablets */
@media screen and (min-width: 768px){

}


/*Latops and large tablets */
@media screen and (min-width: 1200px){

}


















