* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  
  background-image: url("./images/grizzlygulch.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

}

header h1 {
  font-size: 75px;
  margin: 0;
  text-align: right;
  color: #ffff00;
  font-style: italic;
  font-family: Marker Felt, fantasy;
  font-stretch: ultra-condensed;
}

header h1 p {
  font-size: 50px;
  margin: 0;
  text-align: right;
  color: aliceblue;
  font-weight: bold;
  
}

header nav {
  text-align: end;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header nav ul li a {
  text-align: end;
}
/*Intro Box Section*/
.intro {
  border: 100px blue;
  padding: 160px;
  margin: auto;
  height: 500px;
  box-sizing: content-box;
  text-align: center;
  font-size: 32px;
  font-family: Marker Felt, fantasy;
  color: #1e90ff;
}

.about-me {
  text-align: center;
  font-size: 32px;
}

.work {
  text-align: center;
  font-size: 32px;
}


.socials {
  text-align: end;
  font-size: 32px;
}













