/*Apply this to the whole page*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./images/grizzlygulch.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*Header Section*/
header h1 {
  font-size: 50px;
  margin: 0;
  text-align: right;
  color: #f77f00;
  font-style: bold;
  font-family: Impact, fantasy;
  font-stretch: ultra-expanded;
}

header h1 p {
  font-size: 35px;
  margin: 0;
  text-align: right;
  color: aliceblue;
  font-weight: bold;
  
}

/*Nav Sectioin*/
header nav {
  text-align: end;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header nav ul li a {
  text-align: end;
  font-family: monospace;
  font-size: 20px;
}


/*Intro Box Section*/
.intro {
  border: 100p;
  padding: 160px;
  margin: auto;
  height: 200px;
  box-sizing: content-box;
  text-align: center;
  font-size: 32px;
  font-family: Impact, fantasy;
  color: #0070ff;
}

.intro p span {
  color: #f77f00;
  font-family:inherit;
}

.my-story {
  border: 100p;
  padding: 160px;
  margin: auto;
  height: 120px;
  box-sizing: content-box;
  text-align: center;
  font-size: 32px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #0070ff;
}

.my-story p {
  color: #f77f00;
}
/*End Intro Section*/



.about-me {
  text-align: center;
  font-size: 32px;
}

.work {
  text-align: center;
  font-size: 32px;
}


.socials {
  text-align: end;
  font-size: 32px;
}













