/*Apply this to the whole page*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./images/grizzlygulch.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

/*Header Section*/
header {
  display: flex-end;
  flex-wrap: wrap;
}

header h1 {
  font-size: 40px;
  margin: 10px;
 
  text-align: right;
  color: #3cb371;
  text-shadow: white;
  font-family: Impact, fantasy;
  font-stretch: ultra-expanded;
}

header h1 p {
  font-size: 25px;
  margin: 0;
  
  text-align: right;
  color: aliceblue;
  font-weight: bold;
}

/*Footer*/
footer {
  background: white;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.email {
  padding: 75px;
  display: flex;
  text-align: center;
  font-size: 50px;
}

.hub {
  display: flex;
  padding-top: 30px;
  padding-right: 70px;
  width: 250px;
  height: 130px;
}

.in {
  display: flex;
  padding-top: 15px;
  padding-right: 40px;
  width: 300px;
  height: 180px;
}

/*End footer*/



/*Nav Sectioin*/
header nav {
  text-align: end;
  margin: 10px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: flex-end;
}

header nav ul li a {
  text-align: end;
  font-family: impact fantasy;
  font-size: 20px;
}

header nav ul li a:hover {
  background: #3cb371;
  color: #0070ff ;
  border-radius: 15px;
  text-shadow: none;
}




/*Intro Box Section*/
.intro {
  border: 100px;
  padding: 120px;
  margin: auto;
  height: 100px;
  box-sizing: content-box;
  text-align: center;
  font-size: 26px;
  font-family: Impact, fantasy;
  color: #3cb371;
  
  
}

.intro p span {
  color: #0070ff ;
  font-family:inherit;
}

.photo {
  text-align: center;
}

.layla {
  height: 400px;
  width: 400px;
}

/*my-story section*/


.story {
  border: 75px;
  padding: 200px;
  margin: auto;
  height: 120px;
  box-sizing: content-box;
  text-align: center;
  font-size: 26px;
  font-family: impact fantasy;
  color: #3cb371 ;
  justify-content: space-between;
}

.story p {
  color: #3cb371;
  font-family: impact fantasy;
  font-weight: bold;
  font-stretch: ultra-expanded;
}

.story p span {
  color: #0070ff;
}


/*End my-story Section*/


/*My Work Section*/

.resize {
  height: 300px;
  width: 400px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.work {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline stretch;
}


.run-bud {
  text-align: center;
  font-size: 30px;
  font-family: impact fantasy;
}

.run-bud:hover {
  background: #3cb371;
  color: #0070ff ;
  border-radius: 15px;
  text-shadow: none;
}

.code {
  text-align: center;
  font-size: 30px;
  font-family: impact fantasy;
}

.code:hover {
  background: #3cb371;
  color: #0070ff ;
  border-radius: 15px;
  text-shadow: none;
}

.resume1 {
  text-align: center;
  font-size: 30px;
  font-family: impact fantasy;
}

.resume1:hover {
  background: #3cb371;
  color: #0070ff ;
  border-radius: 15px;
  text-shadow: none;
}





/*Media query for desktop screens and smaller*/
@media screen and (min-width: 575px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
  header h1 {
  
  }

  header nav ul {
    
  }

  header nav ul li a {
   
  }

  .intro {

  }

  .my-story {
    
  }

  .my-story p {
    
  }
  
  .work {

  }


}


/*Media query for tablets and smaller*/
@media screen and (min-width: 768px) {

}


/*Media query for mobile phones and smaller*/
@media screen and (min-width: 980px) {
  header {
   text-align: right;
   justify-items: inherit;
   
  }

  header h1 {
    text-align: right;
  }

  header nav ul {
    padding: 0;
    
  }

  header nav ul li a  {
    
  }

  .intro {

  }

  .my-story {
    
  }

  .my-story p {
    
  }
  
}

















